@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

.navbar-nav .nav-link {
    font-size: 0.95rem;
    color: #333 !important;
}

.navbar-nav .nav-link:hover {
    color: #000 !important;
}

.navbar .btn-success {
    background-color: #045015 !important; /* verde oscuro como en la foto */
    border-color: #045015 !important;
}

.navbar .btn-success:hover {
    background-color: #063d12 !important;
}
